
.navbar{
	background-color: #0DFFD3;
}

.navbar .btn{
	height: 2em;
	width: 4em;
	font-size: 1vw;
}


.header h1{
	padding-bottom: 100px;
	font-size: 90pt;
	margin-top: -100px;
	margin-left: 30vw;
}

.header h3{
	margin-top: -100px;
	margin-left: 44vw;
}

.header a{
	margin-top: 10px;
	margin-left: -240px;
	font-size: 25px;
}

.header{
	background-color: #16242B;
	color: white;
	padding-top: 280px;
	padding-bottom: 500px;
}

.body{
	background-color: #16242B;
}

.searchBar{
	width: 300px;
	margin-top: 50px;
	margin-left: 41vw;
}

.btn{
	background: #0062cc;
	color: white;
	font-size: 16px;
	padding: 10px 24px;
	width: 8em;
	height: 3em;

}

.add .btn{
	margin-left: 51vw;
	margin-top: -2.9vw;
	background-color: grey;
	margin-bottom: 5vw;
	font-size: 16px;
	padding: 10px 24px;

}


.tableColumn{
	background-color: #0DFFD3;
	margin: 2px;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: -240px;
	width: 500px;
}

.contactListHeader{
	color: black;
}

.table{
	width: 100%;
}

tr:hover{
	background-color: #f5f5f5;
}

th{
  background-color: #0C1714;
  color: white;
}