.navbar{
	background-color: #0DFFD3;
}

.header{
	background-color: #16242B;
	color: white;
	padding-top: 200px;
	padding-bottom: 160px;
	padding-left: 250px;
}

.header h1{
	font-size: 50pt;
	margin-left: -100px;

}

.login{
	padding-left: 700px;
	margin-top: -370px;
}



.form-group{
	width: 300px;
}

img{
	width: 250px;
	height: 250px;
	margin-bottom: 100px;
}

p {
	color: red;
	font-size: 25pt
}

