.navbar{
	background-color: #0DFFD3;
}

.header{
	background-color: #16242B;
	color: white;
	padding-top: 280px;
	padding-bottom: 160px;
	padding-left: 350px;
}

.header h1{
	font-size: 100pt;
	margin-left: -100px;

}

.login{
	padding-left: 700px;
	margin-top: -370px;
}



.form-group{
	width: 300px;
}

img{
	width: 75%;
	height: 75%;
	margin-bottom: 100px;
