.navbar{
	background-color: #0DFFD3;
}

.header{
	background-color: #16242B;
	color: white;
	padding-top: 12vw;
	padding-bottom: 6vw;
	padding-left: 22vw;
}

.header h1{
	font-size: 8vw;
	margin-left: -10vw;

}

.login{
	padding-left: 45vw;
	margin-top: -17vw;
}



.form-group{
	width: 20vw;
}

img{
	width: 15vw;
	height: 15vw;
	margin-bottom: 5vw;
