.navbar{
	background-color: #0DFFD3;
}

.header{
	background-color: #16242B;
	color: white;
	padding-top: 20vw;
	padding-bottom: 10vw;
	padding-left: 20vw;
	background-size: 100vw;
}

.header h1{
	padding-bottom: 5vw;
	font-size: 10vw;
	margin-top: -8vw;
}

.header a{
	margin-left: 29vw;
}

.form-row{
	margin-left: -5vw;
	padding-right: 15vw;
	margin-bottom: 3vw;
}
